<div class="search">
  <div class="input">
    <p>Search</p>
    <!-- <select name="type" id="type" [formControl]="type" (change)="srh.setValue('');items=[]">

      <option  value="movie">Movie</option>
      <option value="tv">TV</option>
      <option value="person">Person</option>
    </select> -->
    <div class="select">
      <div [class.active]="actives[0]" (click)="active(0)">
        ALL
      </div>
      <div [class.active]="actives[1]" (click)="active(1)">
        Movie
      </div>
      <div [class.active]="actives[2]" (click)="active(2)">
        TV
      </div>
      <div [class.active]="actives[3]" (click)="active(3)">
        Person
      </div>
    </div>
    <input type="text" (input)="search()" [formControl]="srh"/>
  </div>
  <div class="cont">
    @if (items.length>0) {
      <app-items [items]="items" [isSearch]="true" />
    }
  </div>
</div>
