<nav>
  <div class="nav-container">
    <div class="logo">
      <img src="/assets/images/logo2.png" alt="" width="40px" height="40px">
      <span>CLAKET</span>
    </div>
    <div class="links-par">
      <div class="links" #menu>
      <ul>
        <li ><a routerLinkActive="active" routerLink="home">Home</a></li>
        <li ><a routerLinkActive="active" routerLink="movie"  [queryParams]="{  type: 'movie' }">Movie</a></li>
        <li ><a routerLinkActive="active" routerLink="tv" [queryParams]="{  type: 'tv' }">TV</a></li>
        <li ><a routerLinkActive="active" routerLink="people" [queryParams]="{  type: 'person' }">People</a></li>
        <li ><a routerLinkActive="active" routerLink="like">Like</a></li>
      </ul>
    </div>
    </div>

    <div class="search"  routerLink="search">
      <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
      <!-- <input type="text" placeholder="search" [formControl]="srh"> -->
       <span class="keyword">Search</span>
    </div>
    <div class="menu" (click)="openMenu()">
      @if (open) {
        <span ><i class="fa-solid fa-xmark"></i></span>
      }
      @else {
        <span ><i class="fa-solid fa-bars"></i></span>
      }
    </div>

  </div>
</nav>
